# XCode noise
PLBlocks.framework/*
*.pbxuser
*.mode1v3
*.pyc 
*~.nib/ 
*.perspective 
*.perspectivev3
*.xcworkspace/
xcuserdata/
build/

# old school
.svn

# osx noise
.DS_store
.DS_Store
*.xcuserstate

/iAdsTest.xcodeproj/project.xcworkspace/xcuserdata/jandrad.xcuserdatad/UserInterfaceState.xcuserstate